<!--Section Content Start -->
<section class="text-center">

    <!-- Heading Start -->
    <h2 class="mb-4">FAQ</h2>
    <!-- Heading End -->
    <!-- Paragraph Start -->
    <p class="mb-5">
        Find the answers for the most frequently asked questions below
    </p>
    <!-- Paragraph End -->

    <!-- Grid row Start -->
    <article class="row text-md-start">
        <!-- Grid col Start -->
        <div class="col-md-6 col-lg-4 mb-4">
            <p class="mb-3 h5">
                <img src="./assets/image/faq/plane.svg" alt="Plane" />
                A simple question?
            </p>
            <p>
                <strong><u>Absolutely!</u></strong>
                We work with top payment companies which guarantees your safety and security. All billing information is
                stored on our payment processing partner.
            </p>
        </div>
        <!-- Grid col End -->
        <!-- Grid col Start -->
        <div class="col-md-6 col-lg-4 mb-4">
            <p class="mb-3 h5">
                <img src="./assets/image/faq/pen.svg" alt="Pen" />
                A question that is longer then the previous one?
            </p>
            <p>
                <strong><u>Yes, it is possible!</u></strong>
                You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will
                not be charged next month.
            </p>
        </div>
        <!-- Grid col End -->
        <!-- Grid col Start -->
        <div class="col-md-6 col-lg-4 mb-4">
            <p class="mb-3 h5">
                <img src="./assets/image/faq/user.svg" alt="User" />
                A simple question?
            </p>
            <p>
                Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any
                time with no further obligation.
            </p>
        </div>
        <!-- Grid col End -->
        <!-- Grid col Start -->
        <div class="col-md-6 col-lg-4 mb-4">
            <p class="mb-3 h5">
                <img src="./assets/image/faq/rocket.svg" alt="Rocket" />
                A simple question?
            </p>
            <p>
                Yes. Go to the billing section of your dashboard and update your payment information.
            </p>
        </div>
        <!-- Grid col End -->
        <!-- Grid col Start -->
        <div class="col-md-6 col-lg-4 mb-4">
            <p class="mb-3 h5">
                <img src="./assets/image/faq/home.svg" alt="Home" />
                A simple question?
            </p>
            <p>
                <strong><u>Unfortunately no</u>.</strong>
                We do not issue full or partial refunds for any reason.
            </p>
        </div>
        <!-- Grid col End -->
        <!-- Grid col Start -->
        <div class="col-md-6 col-lg-4 mb-4">
            <p class="mb-3 h5">
                <img src="./assets/image/faq/book.svg" alt="Book" />
                Another question that is longer than usual
            </p>
            <p>
                Of course! We're happy to offer a free plan to anyone who wants to try our service.
            </p>
        </div>
        <!-- Grid col End -->
    </article>
    <!-- Grid row End -->

</section>
<!--Section: FAQ-->